/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
p,
a,
h1,
h2,
h3,
h4,
h5,
span {
  font-size: null;
  color: #55596d;
  text-shadow: null;
  text-align: null;
  text-decoration: none;
}
@media (max-width: 500px) {
  flex-direction: column;
}
html {
  background: #d0d0d0;
}
body {
  display: flex;
  flex-direction: row-reverse;
}
@media (max-width: 500px) {
  body {
    flex-direction: column;
    width: 100%;
  }
}
.nav {
  display: block;
  width: 15%;
  height: null;
  margin: null;
  padding: 1rem;
  background: #0c3c78;
}
@media (max-width: 500px) {
  .nav {
    width: 100%;
    flex-direction: row;
  }
}
.nav .logo {
  position: fixed;
  top: null;
  bottom: null;
  right: null;
  left: null;
  width: null;
  height: null;
  margin: 0 auto;
  padding: 1rem 2rem;
  background: null;
  font-size: 1.4rem;
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
  text-decoration: null;
}
@media (max-width: 500px) {
  .nav .logo {
    position: unset;
  }
}
.nav .nav-buttons {
  text-align: center;
  position: fixed;
  top: 60px;
  bottom: null;
  right: null;
  left: null;
}
@media (max-width: 500px) {
  .nav .nav-buttons {
    position: unset;
  }
}
.nav .nav-buttons a {
  display: block;
  width: null;
  height: null;
  margin: null;
  padding: 1rem;
  background: null;
  font-size: null;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.2);
  text-align: null;
  text-decoration: none;
  border: 1px solid #0c3c78;
  border-top: null;
  border-bottom: null;
  border-right: null;
  border-left: null;
  border-radius: 0.7rem;
  box-shadow: null;
}
.nav .nav-buttons .hover {
  width: null;
  height: null;
  margin: null;
  padding: null;
  background: #134984;
  font-size: null;
  color: #bb1333;
  text-shadow: null;
  text-align: null;
  text-decoration: null;
  border: 1px solid #0b376f;
  border-top: null;
  border-bottom: null;
  border-right: null;
  border-left: null;
  border-radius: null;
  box-shadow: null;
  cursor: pointer;
}
.close {
  display: none;
}
.about {
  width: 95%;
  height: null;
  margin: 0 auto;
  padding: null;
  background: null;
}
.about h1 {
  width: 100%;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  font-style: bold;
}
.about .dev-info {
  display: flex;
  width: null;
  height: null;
  margin: 1rem auto;
  padding: 1rem;
  background: white;
  border: 1px solid black;
  border-top: null;
  border-bottom: null;
  border-right: null;
  border-left: null;
  border-radius: 10px;
  box-shadow: null;
}
.about .dev-info h2 {
  display: block;
  width: 100%;
  height: null;
  margin: null;
  padding: 1rem;
  background: #1a61b0;
  font-size: 2rem;
  color: white;
  text-shadow: null;
  text-align: center;
  text-decoration: null;
  border: 1px solid #0c3c78;
  border-top: null;
  border-bottom: null;
  border-right: null;
  border-left: null;
  border-radius: 10px;
  box-shadow: null;
  order: -1;
}
.about .dev-info img {
  box-sizing: unset;
  width: 300px;
  height: 300px;
  margin: 10px;
  padding: null;
  background: null;
  border: 3px solid grey;
  border-top: null;
  border-bottom: null;
  border-right: null;
  border-left: null;
  border-radius: 5rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.about .dev-info .dev-text {
  padding: 8rem;
  font-size: 1.6rem;
  order: 1;
}
.about .dev-info.a {
  flex-direction: row-reverse;
}
@media (max-width: 500px) {
  .about .dev-info {
    display: block;
  }
  .about h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
  }
}
.cards.login-cards {
  justify-content: space-evenly;
}
.login-card ul {
  padding: 1rem 0;
}
.login-card li {
  padding: 0.2rem 0;
}
.login-box {
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  width: null;
  height: null;
  margin: 90px auto;
  padding: null;
  background: white;
  border: 1px solid black;
}
@media (max-width: 500px) {
  .login-box {
    width: 95%;
    margin: 10px auto;
  }
}
.login-box h2 {
  width: null;
  height: null;
  margin: null;
  padding: 10px 120px;
  background: #0c3c78;
  font-size: 3rem;
  color: white;
  text-shadow: null;
  text-align: center;
  text-decoration: null;
}
form {
  width: 100%;
  height: null;
  margin: 1rem auto;
  padding: 1rem;
  background: null;
  text-align: center;
}
form p {
  font-size: 1.6rem;
}
form input {
  width: 90%;
  height: 1rem;
  margin: 1rem auto;
  padding: 1rem;
  background: null;
}
form .login-btn {
  width: 80%;
  height: null;
  margin: 1rem auto;
  padding: 0.6rem 0;
  background: #1a61b0;
  font-size: 1.3rem;
  color: white;
  text-shadow: null;
  text-align: null;
  text-decoration: null;
  border-radius: 8px;
}
form .login-btn a {
  width: null;
  height: null;
  margin: 0 auto;
  padding: 0 0 0 7rem;
  background: null;
  font-size: null;
  color: white;
  text-shadow: null;
  text-align: null;
  text-decoration: null;
}
form .login-btn:hover {
  background: #0c3c78;
}
form .hover {
  background: #0c3c78;
  color: #bb1333;
  cursor: pointer;
}
form a {
  display: flex;
  margin-bottom: 10px;
  font-size: null;
  color: black;
  text-shadow: null;
  text-align: null;
  text-decoration: none;
}
form a:hover {
  color: #bb1333;
}
.landing {
  width: 95%;
  height: null;
  margin: 0 auto;
  padding: 1rem;
  background: null;
}
.landing .main-info {
  background: white;
  border: 1px solid grey;
  border-top: null;
  border-bottom: null;
  border-right: null;
  border-left: null;
  border-radius: 0.5rem;
  box-shadow: null;
}
@media (max-width: 500px) {
  .landing .main-info {
    margin: 1rem auto;
  }
}
.landing .main-info h1 {
  width: null;
  height: null;
  margin: null;
  padding: 10px;
  background: #0c3c78;
  font-size: 28px;
  color: white;
  text-shadow: null;
  text-align: end;
  text-decoration: null;
}
.landing .main-info p {
  font-size: 18px;
  color: null;
  text-shadow: null;
  text-align: center;
  text-decoration: null;
}
.landing .catagories {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .landing .catagories {
    flex-direction: column;
  }
}
.landing .catagories .info {
  width: 30%;
  height: null;
  margin: 1rem auto;
  padding: null;
  background: white;
  border: 1px solid grey;
  border-top: null;
  border-bottom: null;
  border-right: null;
  border-left: null;
  border-radius: 0.5rem;
  box-shadow: null;
}
@media (max-width: 500px) {
  .landing .catagories .info {
    margin: 1rem auto;
    width: 100%;
  }
}
.landing .catagories .info h3 {
  width: null;
  height: null;
  margin: null;
  padding: 7px;
  background: #0c3c78;
  font-size: 24px;
  color: white;
  text-shadow: null;
  text-align: center;
  text-decoration: null;
  border: null;
  border-top: null;
  border-bottom: null;
  border-right: null;
  border-left: null;
  border-radius: 0.5rem 0.5rem 0 0;
  box-shadow: null;
}
.landing .catagories .info p {
  padding: 5px;
}
.landing .catagories .info .btn a {
  color: white;
}
.landing .catagories .info .hover {
  background: #0c3c78;
}
.landing .catagories .info .hover a {
  color: #bb1333;
}
.landing .btn {
  width: 30%;
  height: null;
  margin: 10px auto;
  padding: 5px;
  background: #1a61b0;
  font-size: null;
  color: white;
  text-shadow: 1px 1px black;
  text-align: center;
  text-decoration: null;
  border: 1px solid #0c3c78;
  border-top: null;
  border-bottom: null;
  border-right: null;
  border-left: null;
  border-radius: 5px;
  box-shadow: null;
  justify-content: end;
}
.landing .hover {
  background: #0c3c78;
  color: #bb1333;
}
.top-five {
  background: #55596d;
  width: 95%;
  height: null;
  margin: 0 auto;
  padding: 10px;
  background: null;
  border: 1px solid #1a61b0;
  border-top: null;
  border-bottom: null;
  border-right: null;
  border-left: null;
  border-radius: 1rem;
  box-shadow: null;
}
.top-five .bar h1 {
  font-size: 24px;
  color: #0c3c78;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  text-align: null;
  text-decoration: null;
}
.cards {
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .cards {
    flex-direction: column;
  }
}
.cards .card {
  width: 18%;
  height: null;
  margin: 5px;
  padding: null;
  background: #f0f0f0;
  border: 1px solid #1a61b0;
  border-top: 5px;
  border-bottom: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-right: null;
  border-left: null;
  border-radius: null;
  box-shadow: null;
}
@media (max-width: 500px) {
  .cards .card {
    width: 95%;
    margin: 10px auto;
  }
}
.cards .card .img {
  width: 100%;
  height: 30px;
  margin: null;
  padding: null;
  background: #0c3c78;
  border: null;
  border-top: null;
  border-bottom: 1px solid #0a3061;
  border-right: null;
  border-left: null;
  border-radius: 4px 4px 0 0;
  box-shadow: null;
}
.cards .card .img p {
  font-size: 20px;
  color: white;
  text-shadow: null;
  text-align: center;
  text-decoration: null;
  padding-top: 5px;
}
.cards .card p {
  padding: 5px;
}
.cards .card .btn {
  width: 40%;
}
.cards .card .hover {
  background: #0c3c78;
  color: #bb1333;
  cursor: pointer;
}
.copy {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 2rem;
}
.main-info.cook-it {
  padding: 1rem;
}
@media (max-width: 500px) {
  .main-info.cook-it h1 {
    text-align: center;
  }
}
.main-info.cook-it .recipe {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}
@media (max-width: 500px) {
  .main-info.cook-it .recipe {
    display: block;
  }
  .main-info.cook-it .recipe img {
    width: 100%;
    height: 210px;
  }
}
.main-info.cook-it .recipe .steps {
  width: 45%;
  height: null;
  margin: null;
  padding: 0 2rem;
  background: null;
  list-style-type: disc;
}
@media (max-width: 500px) {
  .main-info.cook-it .recipe .steps {
    width: 100%;
    text-align: center;
  }
}
.main-info.cook-it .directions {
  width: 100%;
  height: null;
  margin: 1rem auto;
  padding: 2rem;
  background: #1a61b0;
  text-align: center;
  border: 1px solid #0c3c78;
  border-top: null;
  border-bottom: null;
  border-right: null;
  border-left: null;
  border-radius: 10px;
  box-shadow: null;
}
.main-info.cook-it .description {
  display: flex;
  flex-direction: row-reverse;
  width: null;
  height: null;
  margin: null;
  padding: 1rem;
  background: #1a61b0;
  border: 1px solid #0c3c78;
}
.main-info.cook-it .description p {
  color: black;
}
@media (max-width: 500px) {
  .main-info.cook-it .description {
    flex-direction: column;
  }
}
.main-info.cook-it .description img {
  width: 30%;
  height: 200px;
  margin: null;
  padding: null;
  background: null;
}
@media (max-width: 500px) {
  .main-info.cook-it .description img {
    width: 100%;
    height: 220px;
    margin: auto;
    padding: 0 2rem 0 0;
    background: null;
  }
}
