.landing {
    width: 95%;
    height: 400px;
    background: white;
    border:1px solid @patina;
    border-radius: 1rem;
    margin: 1rem auto;
}

.top-five{
    width: 98%;
    height: 200px;
    background: grey;
    border:1px solid @patina;
    border-radius: 1rem;
    margin: 1rem auto;
}