.landing {
    width  : 95%;
    padding: 1rem;
    margin : 0 auto;

    .main-info {
        @media @mobile{
            margin:1rem auto;
        }
        background   : white;
        border       : 1px solid grey;
        border-radius: .5rem;

        h1 {
            font-size : 28px;
            text-align: end;
            color     : white;
            background: @deep-teal;
            padding   : 10px;
        }

        p {
            text-align: center;
            font-size : 18px;
        }

        .btn {
            width          : 30%;
            border         : 1px solid @deep-teal;
            background     : @patina;
            border-radius  : 5px;
            color          : white;
            text-shadow    : 1px 1px black;
            text-align     : center;
            justify-content: end;
            margin         : 10px auto;
            padding        : 5px;

            &:hover {
                background: @deep-teal;
                color     : white;
                cursor    : pointer;
            }
        }

    }

    .catagories {
        display  : flex;
        flex-wrap: wrap;

        @media @mobile {
            flex-direction: column;
        }


        .btn {
            width          : 25%;
            border         : 1px solid @deep-teal;
            background     : @patina;
            border-radius  : 5px;
            color          : white;
            text-shadow    : 1px 1px black;
            text-align     : center;
            justify-content: end;
            margin         : 10px auto;
            padding        : 5px;
            text-decoration: none;
            &:hover {
                background: @deep-teal;
                color     : white;
                cursor    : pointer;
            }
        }

        .info {
            @media @mobile{
                margin:1rem auto;
                width: 100%;
            }
            margin       : 1rem auto;
            width        : 30%;
            border       : 1px solid grey;
            background   : white;
            border-radius: .5rem;

            h3 {
                text-align   : center;
                padding      : 7px;
                font-size    : 24px;
                background   : @deep-teal;
                border-radius: .5rem .5rem 0 0;
                color        : white;
            }

            p {
                padding: 5px;
            }
        }
    }

}

