.cards.login-cards {
    justify-content: space-evenly;
}

.login-card {

    ul {
        padding: 1rem 0;
    }

    li {
        padding: .2rem 0;
    }
}

.login-box {

    display: flex;
    .position-element(@margin : 10rem auto,
        @background: white);

    border: 1px solid black;

    @media @mobile {
        width : 95%;
        margin: 10px auto;
    }

    display       : flex;
    flex-direction: column;

    .position-element(@margin : 90px auto,
        @background : white);

    border : 1px solid black;


    h2 {
        .position-element(@background: @main-color,
            @padding : 10px 120px);
        .set-text(@size : 3rem, @align: center,
            @color : white);

    }
}

form {
    .position-element(@width : 100%,
        @margin : 1rem auto,
        @padding: 1rem);

    text-align: center;

    p {
        font-size: 1.6rem;
    }

    input {

        .position-element(@width : 90%, @height : 1rem,
            @margin : 1rem auto, @padding: 1rem);
    }

    .login-btn {
        .position-element(@width: 80%, @margin : 1rem auto,
            @background: @main-color, @padding: .6rem 0);
        .set-text(@color : white,
            @size: 1.3rem);

        border-radius: 8px;

        a {
           .position-element(@margin: 0 auto, @padding: 0 0 0 7rem);
        }

    }

    .hover {
        background: @main-color;
        color     : @accent-color;
        cursor    : pointer;
    }

    a {
        display: flex;

        margin-bottom: 10px;

        .set-text(@decor: none, @color: black);

        &:hover {
            color: @accent-color;
        }
    }

}