.nav {
    @media @mobile {
        width         : 100%;
        flex-direction: row;
    }

    display : block;
    .create-element(@width: 15%,
        @padding: 1rem,
        @background : @main-color);

    .logo {
        @media @mobile {
            position: unset;
        }
        position   : fixed;
        .create-element(@margin:@zero, @padding:1rem 2rem);
        .set-text(@size:1.4rem, @color:white, @shadow:1px 1px @shadow-dark,@align:center);
    }

    .nav-buttons {
        @media @mobile {
            position: unset;
        }

        text-align: center;
        position  : fixed;
        top       : 60px;

        a {
            display        : block;
            color          : white;
            text-decoration: none;
            text-shadow    : 2px 2px rgba(0, 0, 0, .2);
            border         : 1px solid @deep-teal;
            padding        : 1rem;
            border-radius  : .7rem;

            &:hover {
                border    : 1px solid darken(@deep-teal, 2%);
                background: darken(@patina, 10%);
                color     : @deep-teal;
                cursor    : pointer;
            }
        }
    }
}

.close {
    display: none;
}