// ------ POSITIONING
@zero: 0 auto;

// ----- COLORS
@patina     : #669999;
@faded-jade : #407f7f;
@blue-dianne: #226666;
@eden       : #0d4d4d;
@deep-teal  : #003333;

@main-color  : @deep-teal;
@second-color: @patina;
@shadow-dark: rgba(0, 0, 0, .5);
@shadow-lite: rgba(0, 0, 0, .2);
// ------ DISPLAYS
@mobile: ~'(max-width: 500px)';
