// ------ POSITIONING
@zero: 0 auto;

// ----- COLORS


@main-color  : #0c3c78;
@second-color: #1a61b0;
@second-color-lite: #3ab5e5;
@accent-color: #bb1333;
@font-color-dark : #55596d;
@shadow-dark: rgba(0, 0, 0, .5);
@shadow-lite: rgba(0, 0, 0, .2);
// ------ DISPLAYS
@mobile: ~'(max-width: 500px)';
