@patina: #669999;
@faded-jade: #407f7f;
@blue-dianne: #226666;
@eden: #0d4d4d;
@deep-teal: #003333;

@nav-background: @blue-dianne;

@tablet-screen: ~'(max-width:1000px)';
@mobile: ~'(max-width:500px)';